***
***
***
## Numeric Data Types, Input & Output, Escape Sequences

**Topics Covered**
1. Numeric Data Types in Python  
2. Input & Output Functions  
3. Escape Sequences in Strings  

******

## 1) Numeric Data Types in Python

Python provides three main numeric data types:

- `int`     → Whole numbers (no decimal)
- `float`   → Decimal numbers (real numbers)
- `complex` → Complex numbers like `a + bj`

Additionally, `bool` is also treated as a numeric type in Python.

In [3]:

a = 10
b = -99
c = 0

print("a =", a, "| type:", type(a))
print("b =", b, "| type:", type(b))
print("c =", c, "| type:", type(c))

print("a + b =", a + b)
print("a * 5 =", a * 5)

a = 10 | type: <class 'int'>
b = -99 | type: <class 'int'>
c = 0 | type: <class 'int'>
a + b = -89
a * 5 = 50

***
### `float` (Floating Point)

Floats are decimal numbers.  
Python floats are stored in binary floating format, so small precision issues may occur.
***

In [4]:

x = 10.5
y = -3.14

print("x =", x, "| type:", type(x))
print("y =", y, "| type:", type(y))
print("x + y =", x + y)
print("x * 2 =", x * 2)

x = 10.5 | type: <class 'float'>
y = -3.14 | type: <class 'float'>
x + y = 7.359999999999999
x * 2 = 21.0

In [5]:

print("0.1 + 0.2 =", 0.1 + 0.2)
print("Is 0.1 + 0.2 equal to 0.3?", (0.1 + 0.2) == 0.3)

0.1 + 0.2 = 0.30000000000000004
Is 0.1 + 0.2 equal to 0.3? False

***
### `complex` (Complex Numbers)

Complex numbers are represented as:

`a + bj`  
where:
- `a` = real part
- `b` = imaginary part  
- `j` = √(-1) in Python
***

In [6]:

z = 2 + 3j

print("z =", z, "| type:", type(z))
print("Real part:", z.real)
print("Imaginary part:", z.imag)

z = (2+3j) | type: <class 'complex'>
Real part: 2.0
Imaginary part: 3.0

In [7]:

z1 = 1 + 2j
z2 = 3 + 4j

print("z1 =", z1)
print("z2 =", z2)
print("z1 + z2 =", z1 + z2)
print("z1 * z2 =", z1 * z2)

z1 = (1+2j)
z2 = (3+4j)
z1 + z2 = (4+6j)
z1 * z2 = (-5+10j)

***
### `bool` as Numeric Type

In Python:
- `True` behaves like `1`
- `False` behaves like `0`
***

In [8]:

print("True + 5 =", True + 5)
print("False * 10 =", False * 10)
print("type(True) =", type(True))
print("int(True) =", int(True))
print("int(False) =", int(False))

True + 5 = 6
False * 10 = 0
type(True) = <class 'bool'>
int(True) = 1
int(False) = 0

***
### Type Casting (Conversions)
Python allows conversion between numeric types:

- `int("10")` → 10  
- `float("10")` → 10.0  
- `complex(2, 5)` → (2+5j)  
- `bool(0)` → False  
- `bool(100)` → True  
***

In [9]:

s = "10"

i = int(s)
f = float(s)
comp = complex(2, 5)

print("s =", s, "| type:", type(s))
print("int(s) =", i, "| type:", type(i))
print("float(s) =", f, "| type:", type(f))
print("complex(2, 5) =", comp, "| type:", type(comp))

print("bool(0) =", bool(0))
print("bool(100) =", bool(100))

s = 10 | type: <class 'str'>
int(s) = 10 | type: <class 'int'>
float(s) = 10.0 | type: <class 'float'>
complex(2, 5) = (2+5j) | type: <class 'complex'>
bool(0) = False
bool(100) = True

***
### Useful Numeric Built-in Functions

- `abs()`   → absolute value  
- `pow()`   → power  
- `round()` → rounding  
- `max()`   → maximum value  
- `min()`   → minimum value  
 ***

In [10]:

print("abs(-25) =", abs(-25))
print("pow(2, 5) =", pow(2, 5))
print("round(3.14159, 2) =", round(3.14159, 2))
print("max(10, 20, 5) =", max(10, 20, 5))
print("min(10, 20, 5) =", min(10, 20, 5))

abs(-25) = 25
pow(2, 5) = 32
round(3.14159, 2) = 3.14
max(10, 20, 5) = 20
min(10, 20, 5) = 5

***
### Arithmetic Operators

- `+` Addition  
- `-` Subtraction  
- `*` Multiplication  
- `/` Division (always float)  
- `//` Floor division  
- `%` Modulus (remainder)  
- `**` Power
***

In [11]:

a = 10
b = 3

print("a =", a, "b =", b)
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a = 10 b = 3
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

***
## 2) Input & Output Functions

### `input()`  
- Takes user input from keyboard  
- Always returns a **string** by default  

### `print()`  
- Displays output in console/notebook  
- Can use `sep` and `end` for formatting 
***

In [12]:

# Uncomment and run this cell in notebook:
# name = input("Enter your name: ")
# print("Hello", name)

In [13]:

# Uncomment and run this cell:
# age = int(input("Enter age: "))
# salary = float(input("Enter salary: "))
# print("Age:", age, "| type:", type(age))
# print("Salary:", salary, "| type:", type(salary))

***
### Multiple Inputs in One Line

Using `split()` to take multiple values from one input line.

Example input:
`10 20`
***

In [14]:

# Uncomment and run:
# x, y = input("Enter two numbers: ").split()
# print("x =", x, "| type:", type(x))
# print("y =", y, "| type:", type(y))

In [15]:

# Uncomment and run:
# x, y = map(int, input("Enter two integers: ").split())
# print("Sum =", x + y)

***
### Output with `print()`

`print()` supports optional parameters:

- `sep` → separator between values  
- `end` → what to print at the end 
***

In [16]:

print(1, 2, 3)                       # default sep=" "
print(1, 2, 3, sep="-")              # custom separator
print("Hello", end=" ")
print("World")                       # prints on same line

1 2 3
1-2-3
Hello World

***
### Output Formatting

#### f-string (Recommended)
Fast and clean formatting:
- `{value}` for direct values
- `{value:.2f}` for 2 decimal places
***

In [17]:

name = "Bhavya"
age = 18
score = 95.6789

print(f"Name: {name}, Age: {age}, Score: {score}")
print(f"Score (2 decimals): {score:.2f}")

Name: Bhavya, Age: 18, Score: 95.6789
Score (2 decimals): 95.68

In [18]:

print("Name: {}, Age: {}".format(name, age))
print("Score: {:.2f}".format(score))

Name: Bhavya, Age: 18
Score: 95.68

In [19]:

print("Name: %s Age: %d" % (name, age))
print("Score: %.2f" % score)

Name: Bhavya Age: 18
Score: 95.68

In [ ]:

#Write a program to print all the digits of a 6 digit number, no digit is  0 
r =a 
while r > 0:
    print_value = a%10
    print(print_value)
    r = a // 10
    a= r